:root {
    --white: #e5eaf5;
    --lightgray: #d0bdf4;
    --lightblue: #a0d2eb;
    --dark-gray: #494D5F;
    --dark-purple: #8458B3;
}

@page {
    size: A4 portrait;
}

@page :left {
    margin-left: 1.5cm;
}

@page :right {
    margin-left: 1.5cm;
}

@font-face {
    src: url("https://fonts.googleapis.com/css?family=Roboto");
}

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(229,234,245);
    background: linear-gradient(137deg, rgba(229,234,245,1) 0%, rgba(208,189,244,1) 51%, rgba(160,210,235,1) 100%);
}

.container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1050px;
    margin: 64px auto;
    box-shadow: 1px 1px 17px 0 #494d5f42;
}

.content {
    width: 70%;
    padding: 24px;
    background-color: var(--white);
}

.information {
    border-bottom: 1px solid var(--dark-gray);
    margin-bottom: 24px;
}

.experience {
    position: relative;
    margin: 0 0 48px 15px;
}

.experience:before {
    content: '■';
    font-size: 16px;
    position: absolute;
    left: -15px;
    top: 5px;
}

.name {
    font-family: 'Oxygen Mono', monospace;
    font-weight: bold;
    font-size: 36px;
    line-height: 130%;
}

.job, .position {
    font-family: 'Oxygen Mono', monospace;
    font-size: 20px;
}

.description {
    font-family: 'Roboto', monospace;
}

.position {
    font-size: 24px;
    font-weight: bold;
}

.company {
    font-family: 'Roboto', monospace;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
}

.date {
    font-family: 'Roboto', monospace;
    font-weight: 100;
    font-size: 16px;
}

.links {
    width: 30%;
    padding: 24px;
    background-color: var(--dark-purple);
}

.contact {
    font-family: 'Oxygen Mono', monospace;
    color: var(--white);
    word-break: break-all;
}

.contact span,
.skill span {
    display: block;
    font-size: 16px;
    font-weight: bolder;
    margin-top: 12px;
}

.contact a {
    font-size: 14px;
}

.links a {
    color: var(--lightgray);
    text-decoration: none;
}

.links a:hover {
    color: var(--lightblue);
}

.contacts, .skills, .languages {
    border-bottom: 1px solid var(--white);
    padding-bottom: 24px;
    margin-bottom: 24px;
}

.skill {
    font-family: 'Oxygen Mono', monospace;
    color: var(--white);
}

.buttons {
    position: absolute;
    right: 1%;
    bottom: 1%;
}

button {
    width: 40px;
    height: 40px;
    background-size: cover;
    outline: none;
    border: none;
    background-color: transparent;
    cursor:pointer;
    background-repeat: no-repeat;
}

.printButton {
    background-image: url('printIcon.png');

}
.upwardButton {
    background-image: url('upward.png');
}

summary {
    font-family: 'Oxygen Mono', monospace;
    position: relative;
    margin: 0 0 24px 20px;
}

summary:hover {
    cursor: pointer;
}

summary:before {
    content: '▶';
    position: absolute;
    transform: rotate(0);
    transform-origin: .2rem 50%;
    transition: .25s transform ease;
    left: -20px;
}

details[open] > summary:before {
    transform: rotate(90deg);
    top: -4px;
}

details > summary {
    list-style: none;
}

details > summary::-webkit-details-marker {
    display: none;
}

ul {
    margin-left: -21px;
}

abbr {
    text-decoration: none;
}

abbr:hover {
    cursor: pointer;
}

@media screen and  (max-width: 768px) {

    .wrapper {
        background-color: var(--white);
        max-width: 440px;
    }

    .container {
        margin: 0;
        flex-direction: column-reverse;
    }

    .content, .links {
        width: 100%;
        /*max-width: 400px;*/
        padding: 12px;
    }

    .description {
        word-break: break-word;
    }

    .contact span,
    .skill span {
        font-size: 14px;
        font-weight: bolder;
        margin-top: 12px;
    }

    .skills {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
    }

    .skill {
        width: 100%;
        max-width: 180px;
    }

    .buttons {
        bottom: 0;
    }
}
@media print {
    body * {
        visibility: hidden;
    }
    #section-to-print, #section-to-print * {
        visibility: visible;
        background-color: transparent;
        box-shadow: none;
        color: #000;
    }
}

