@font-face {
    src: url("https://fonts.googleapis.com/css?family=Roboto");
}
.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #203647;
    font-family: 'Roboto', monospace;
    overflow: auto;
}

.content {
    position: relative;
    top: 15%;
    display: block;
    width: 100%;
    height: 30%;
    margin: 0 auto;
    text-align: center;
    color: #EEFBFB;
}

.error {
    font-size: 3em;
    font-weight: 500;
}

.message {
    font-size: 2.5em;
    font-weight: 400;
    padding: 0.4em;
}

.contact {
    font-size: 2em;
    padding: 0.7em;
    font-weight: 200;
}

.links {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0.5em 0 0 1.6em;
}

.links a {
    color: white;
    text-decoration: none;
}

.links a:before {
    content: '--  ';
}

.links a:hover {
    animation: links 1s linear infinite;
}


/*@custom-media --medium-viewport (min-width: 640px);*/
/*@custom-media --large-viewport (min-width: 1024px);*/
/*@custom-media --xtra-large-viewport (min-width: 1440px);*/


@media (max-width: 640px) {
    .content {
        top: 15%;
        width: 550px;
    }

    .error {
        font-size: 4em;
    }

    .message {
        font-size: 3em;
    }

    .contact {
        padding: 3.5em;
        font-size: 2em;
    }
}

@keyframes links {
    0% {
        opacity: 100%;
    }
    50% {
        opacity: 40%;
    }

    100% {
        opacity: 100%;
    }

}
