:root {
    --project-white: #FFF;
    --project-green: #203647;
    --project-gray: #303030;
}

@page {
    size: A4 portrait;
}

@page :left {
    margin-left: 1.5cm;
}

@page :right {
    margin-left: 1.5cm;
}

@font-face {
    src: url("https://fonts.googleapis.com/css?family=Roboto");
}

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--project-green);
}

.container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1050px;
    margin: 64px auto 0 auto;
}

.content {
    width: 70%;
    padding: 24px;
    background-color: var(--project-white);
}

.information {
    border-bottom: 1px solid var(--project-gray);
    margin-bottom: 24px;
}

.experience {
    position: relative;
    margin: 0 0 48px 15px;
}

.experience:before {
    content: '■';
    font-size: 16px;
    position: absolute;
    left: -15px;
    top: 5px;
}

.name {
    font-family: 'Oxygen Mono', monospace;
    font-weight: bold;
    font-size: 36px;
    line-height: 130%;
}

.job, .position {
    font-family: 'Oxygen Mono', monospace;
    font-size: 20px;
}

.description {
    font-family: 'Roboto', monospace;
}

.position {
    font-size: 24px;
    font-weight: bold;
}

.company {
    font-family: 'Roboto', monospace;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
}

.date {
    font-family: 'Roboto', monospace;
    font-weight: 100;
    font-size: 16px;
}

.links {
    width: 30%;
    padding: 24px;
    background-color: var(--project-gray);
}

.contact {
    font-family: 'Oxygen Mono', monospace;
    color: var(--project-white);
    word-break: break-all;
}

.contact span,
.skill span {
    display: block;
    font-size: 16px;
    font-weight: bolder;
    margin-top: 12px;
}

.contact a {
    font-size: 14px;
}

.links a {
    color: var(--project-white);
    text-decoration: none;
}

.links a:hover {
    color: #adadad;
}

.contacts {
    border-bottom: 1px solid var(--project-white);
    padding-bottom: 39px;
    margin-bottom: 24px;
}

.skill {
    font-family: 'Oxygen Mono', monospace;
    color: var(--project-white);
}

summary {
    font-family: 'Oxygen Mono', monospace;
    position: relative;
    margin: 0 0 24px 20px;
}

summary:hover {
    cursor: pointer;
}

summary:before {
    content: '▶';
    position: absolute;
    transform: rotate(0);
    transform-origin: .2rem 50%;
    transition: .25s transform ease;
    left: -20px;
}

details[open] > summary:before {
    transform: rotate(90deg);
    top: -4px;
}

details > summary {
    list-style: none;
}

details > summary::-webkit-details-marker {
    display: none;
}

ul {
    margin-left: -21px;
}

abbr {
    text-decoration: none;
}

abbr:hover {
    cursor: pointer;
}

@media (max-width: 768px) {

    .wrapper {
        background-color: var(--project-white);
        max-width: 440px;
    }

    .container {
        margin: 0;
        flex-direction: column-reverse;
    }

    .content, .links {
        width: 100%;
    }

    .content {
        padding: 12px;
    }

    .description {
        word-break: break-word;
    }

    .contact span,
    .skill span {
        font-size: 14px;
        font-weight: bolder;
        margin-top: 12px;
    }

    .skills {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
    }

    .skill {
        width: 100%;
        max-width: 180px;
    }
}

